body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #B2DFDB;
  margin: 0;
}

a {
  color: #4DB6AC;
  text-decoration: none;
  cursor: pointer;
}

h1 {
	text-align: center;
	color: rgba(0,0,0,.75);
	margin: 50px 0;
}

.textDiv {
	
	background-color: #546E7A;
	padding: 50px;
}

div	{
	margin: 20px 0;
}
